html {
  font-size: 10px;
}

button { 
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns:  10vw 80vw 10vw;
  grid-template-rows: 10vh 10vh 80vh;
}

#header-section {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

#toolbar-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#table-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}